.btn {
  padding: 8px 20px;
  border-radius: .5625rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--red{
    background-color: #fd3535;
    color: rgba(253, 233, 233, 0.804);;
}

.btn--white{
    background-color: rgb(253, 233, 233);
    color: #ff4a4a;
}

.btn--pale-red{

}


.btn--large{

}

.btn--medium{
    font-size: 1rem;
    padding: .8rem;
}

.btn--small{

}

