.filter {
  width: inherit;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem ;
  border: 1px solid #fbc0c0;
  background-color: #fdf2f2;
  border-radius: 0.625rem;
  .filter-options {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    img,
    p,
    select {
      margin-right: 0.8rem;
    }
    p {
      font-size: 1rem;
      color: #f55d5d;
      font-weight: 700;
    }
    select {
      cursor: pointer;
      border: 1px solid #fbc0c0;
      padding: 0.4rem;
      outline: none;
      border-radius: 0.625rem;
      background-color: #fff;
      font-size: 0.8rem;
      color: #7c7f81;
    }
  }
  div:nth-child(2) {
    display: flex;
    gap: 1rem;
    margin: 0.8rem 0rem;
    button {
      padding: 0.4rem 1.5rem;
      border-radius: 0.625rem;
      border: none;
      cursor: not-allowed;
    }
    .reset-btn {
      background-color: #fff;
      color: #f55d5d;
      font-size: 0.8rem;
      border: 1px solid #fbc0c0;
      border-radius: 0.425rem;
    }
    .apply-btn {
      background-color: #f55d5d;
      color: #fff;
      font-size: 1rem;
    }
  }
}
